
body{
    background-image: url("imagenes/fondoclarito.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1{ 
    text-align: center;
    color: rgb(177, 138, 216);
    background-color: black;
}


.caja{
    color: orange;
}

#caja2{
    color: green;
}